nav{
    background-color: gainsboro;
    font-size: 5px;

}
body{
    font-family: Helvetica;
}

article{
    display: flex;
}

article h3{
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    color: #259fff;
    font-size: 14px;
}
article h4{
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    color: #259fff;

}

article{
    padding-bottom: 1em;
}

article img{
    width: 80px;
    padding-right: 1em;
    border-radius: 20px;


}

footer{
    height:100px;
    background-color: #259fff;;
}


